@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin-bottom: 30px;
}

.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: row;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid rgb(67, 41, 166);
  border-radius: 4px;
  width: 420px;
}

.main input[type="text"]:hover {
  border-color: #202123;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  color: #fff;
  margin: 0px 20px;
  padding: 10px 10px;
  background-color: rgb(67, 41, 166);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main input[type="submit"]:hover {
  background-color: #202123;
}

.main .result {
  font-weight: bold;
}

.menu {
  background-color: rgb(67, 41, 166);
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0px 4px 4px 0px;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
}

@media (max-width: 1000px) {
  .menu {
    visibility:hidden;
    display: none;
  }
}

.menu .item {
  border: 1px solid #69696f;
  border-radius: 6px;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
}

.menu .endItem {
  padding: 6px;
  margin: 10px;
  cursor: pointer;
}

.menu .divisor {
  height: 1px;
  margin: 0px 5px 0 5px;
  background-color: #69696f;
  
}

.card {
  background-color: rgb(105, 105, 111, 0.1);
  border-radius: 6px;
  padding: 8px 20px;
  margin: 10px;
  cursor: pointer;
}

.titleCard {
  padding: 2px 0px;
  margin: 0px 90px;
}

.iconCard {
  padding: 2px 0px;
  margin: 0px 120px;
}
